{{- if not .do_install }}
#!/bin/bash
echo "note: installing packages is disabled."
{{- else if (eq .chezmoi.osRelease.id "arch") }}
{{- template "archlinux.sh" . }}
{{- else if (eq .chezmoi.osRelease.id "ubuntu") }}
{{- template "ubuntu.sh" . }}
{{- end }}
