# vim: set ft=yaml:
# yamllint disable rule:line-length rule:braces
# {{- $name := promptStringOnce . "name" "Name" "Benjamin Morgan" -}}
# {{- $email := promptStringOnce . "email" "Email address" "cassava@iexu.de" -}}
# {{- $githubUser := promptStringOnce . "github_user" "Github user" "cassava" -}}
# {{- $isHeadless := promptBoolOnce . "is_headless" "Is headless" true -}}
# {{- $isPrivate := promptBoolOnce . "is_private" "Is private" (ne (stat (joinPath .chezmoi.homeDir ".password-store")) nil) -}}
# {{- $doInstall := promptBoolOnce . "do_install" "Install packages" false -}}

---
encryption: gpg
gpg:
  args: ["--quiet"]
  recipients:
    - "0x2E8E4DC46CDB24CD"
    - "0x0A28F14C19363770"
github:
  refreshPeriod: "168h"
{{ if $isPrivate -}}
env:
  GITHUB_TOKEN: {{ pass "tokens/github.com" }}
{{ end -}}
data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $githubUser | quote }}
  is_headless: {{ $isHeadless }}
  is_private: {{ $isPrivate }}
  do_install: {{ $doInstall }}
  extract_deb: false
  install_dir: /usr/local
  sys:
    uname_arch: {{ output "uname" "-m" | trim }}
